/******************************************************************************\
    font-face
\******************************************************************************/
@font-face {
    font-family:'Frutiger LT W01 55 Roman';
    src:url('fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix');
    src:url('fonts/af97a512-f55a-4f61-b2ce-659c883930fc.eot?#iefix') format('embedded-opentype'),
        url('fonts/3fbbd6b1-cfa7-4ff0-97ea-af1b2c489f15.woff') format('woff'),
        url('fonts/076311f8-a01b-4389-a5eb-334a62e62d45.ttf') format('truetype'),
        url('fonts/c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877.svg#c59a36ab-4ef8-4ee1-a2f8-48aa79d4f877') format('svg');
}
@font-face {
    font-family:'Frutiger LT W01 65 Bold';
    src:url('fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix');
    src:url('fonts/fbd7c0fb-f004-4e83-81d2-1d400413a873.eot?#iefix') format('embedded-opentype'),
        url('fonts/9aa32a81-1124-4c43-b3db-15bfb1f7aed2.woff') format('woff'),
        url('fonts/6faffbf4-f8e8-4817-b24b-a390e166be7e.ttf') format('truetype'),
        url('fonts/fc09de64-de25-425e-90dc-a0cae29b02c4.svg#fc09de64-de25-425e-90dc-a0cae29b02c4') format('svg');
}
@font-face {
    font-family:'Frutiger LT W01 45 Light';
    src:url('fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix');
    src:url('fonts/7d3671fc-8c26-459c-98e1-997c4f6c8c93.eot?#iefix') format('embedded-opentype'),
        url('fonts/2a004a53-ac5c-43b3-9eeb-9f74ae4c1609.woff') format('woff'),
        url('fonts/74d53f3b-1683-4d5a-a556-e13f6553cdf0.ttf') format('truetype'),
        url('fonts/3f5a5b87-e71e-4544-be0c-da4daa132710.svg#3f5a5b87-e71e-4544-be0c-da4daa132710') format('svg');
}

/******************************************************************************\
    rows
\******************************************************************************/
.edf-custom-content-row,
.edf-custom-content-row * { box-sizing:border-box; }
.edf-custom-content-row {
    position:relative;
    font-style:normal; font-weight:normal;
    font-size:16px; font-size:1rem;
    line-height:1.2;
    font-family:'Frutiger LT W01 55 Roman', sans-serif;
}
.edf-custom-content-row img {
    display:block;
    border:0;
    width:100%; height:auto;
}
.edf-custom-content-row .row-title {
    position:absolute; top:0; left:0; z-index:3;
    padding:20px; padding:1.25rem;
    background:#fff;
}
.edf-custom-content-row .row-title span { display:block; }
.edf-custom-content-row .row-title span,
.edf-custom-content-row .row-title img {
    width:4rem; height:1.066rem;
}
.edf-custom-content-row .row-title + .grid {
    padding:20px 0 0; padding:1.25rem 0 0;
}
.edf-custom-content-row .row-title + .grid .push { margin-top:0; }
.edf-custom-content-row .push a,
.edf-custom-content-row .push a:hover,
.edf-custom-content-row .push a:focus { text-decoration:none; }

/******************************************************************************\
    pushes globals
\******************************************************************************/
.edf-custom-content-row .push {
    position:relative;
    display:block;
    width:100%; height:auto;
    margin:48px auto; margin:3rem auto;
    text-decoration:none;
    text-transform: initial;
}
.edf-custom-content-row .push p {
    margin:0 0 16px; margin:0 0 1rem;
    text-align:left;
}
.edf-custom-content-row .push p + p {
    margin:16px 0; margin:1rem 0;
}
.edf-custom-content-row .push-wrapper {
    /*display:table-cell;*/
    overflow:hidden;
    max-width:100%;
    vertical-align:bottom;
}

/******************************************************************************\
    background-images
\******************************************************************************/
.edf-custom-content-row .push-color {
    background-repeat:no-repeat;
    background-position:50%;
    background-size:cover;
}
.edf-custom-content-row .push-bg-left { background-position:0 50%; }
.edf-custom-content-row .push-bg-right { background-position:100% 50%; }
.edf-custom-content-row .bg-img {display:none;}

/******************************************************************************\
    background-colors
\******************************************************************************/
.edf-custom-content-row .push-color .push-bg {
    position:absolute; top:0; left:0; z-index:2;
    height:100%; width:100%;
}
.edf-custom-content-row .push-color-orange .push-bg {
    background:url(img/bg-orange.png);
    background:-moz-linear-gradient(-45deg, rgba(254,88,21,.8) 0%, rgba(255,160,47,.8) 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(254,88,21,.8)), color-stop(100%,rgba(255,160,47,.8)));
    background:-webkit-linear-gradient(-45deg, rgba(254,88,21,.8) 0%,rgba(255,160,47,.8) 100%);
    background:-o-linear-gradient(-45deg, rgba(254,88,21,.8) 0%,rgba(255,160,47,.8) 100%);
    background:-ms-linear-gradient(-45deg, rgba(254,88,21,.8) 0%,rgba(255,160,47,.8) 100%);
    background:linear-gradient(135deg, rgba(254,88,21,.8) 0%,rgba(255,160,47,.8) 100%);
}
.edf-custom-content-row .push-color-blue .push-bg {
    background:url(img/bg-blue.png);
    background:-moz-linear-gradient(-45deg,  rgba(31,46,121,.8) 0%, rgba(0,91,187,.8) 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(31,46,121,.8)), color-stop(100%,rgba(0,91,187,.8)));
    background:-webkit-linear-gradient(-45deg,  rgba(31,46,121,.8) 0%,rgba(0,91,187,.8) 100%);
    background:-o-linear-gradient(-45deg,  rgba(31,46,121,.8) 0%,rgba(0,91,187,.8) 100%);
    background:-ms-linear-gradient(-45deg,  rgba(31,46,121,.8) 0%,rgba(0,91,187,.8) 100%);
    background:linear-gradient(135deg,  rgba(31,46,121,.8) 0%,rgba(0,91,187,.8) 100%);
}
.edf-custom-content-row .push-color-green .push-bg {
    background:url(img/bg-green.png);
    background:-moz-linear-gradient(left, rgba(80,158,47,.8) 0%, rgba(196,214,0,.8) 100%);
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(80,158,47,.8)), color-stop(100%,rgba(196,214,0,.8)));
    background:-webkit-linear-gradient(left, rgba(80,158,47,.8) 0%,rgba(196,214,0,.8) 100%);
    background:-o-linear-gradient(left, rgba(80,158,47,.8) 0%,rgba(196,214,0,.8) 100%);
    background:-ms-linear-gradient(left, rgba(80,158,47,.8) 0%,rgba(196,214,0,.8) 100%);
    background:linear-gradient(to right, rgba(80,158,47,.8) 0%,rgba(196,214,0,.8) 100%);
}

/******************************************************************************\
    push-color contents
\******************************************************************************/
.edf-custom-content-row .push-color .push-content {
    position:relative; z-index:3;
    margin:96px 40px 40px; margin:6rem 2.5rem 2.5rem;
    max-width:592px; max-width:37rem;
    color:#fff;
}
.edf-custom-content-row .push-color .push-main { position:relative; }
.edf-custom-content-row .push-color .push-main:before {
    position:absolute; top:0; left:-14px; left:-.875rem;
    display:block;
    height:100%; width:5px; width:.3125rem;
    background:#fff;
    content:'';
}
.edf-custom-content-row .push-title {
    font-style:normal; font-weight:normal;
    font-family:'Frutiger LT W01 45 Light', sans-serif;
    font-size:24px; font-size:1.5rem;
}
.edf-custom-content-row .push-color .push-content a {
    color:#fff;
    text-decoration:none;
}

/******************************************************************************\
    key-figures
\******************************************************************************/
.edf-custom-content-row .key-figures {
    padding:24px 16px; padding:1.5rem 1rem;
    background:#005bbb; color:#fff;
    background:-moz-linear-gradient(-45deg,  rgba(31,46,121,1) 0%, rgba(0,91,187,1) 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(31,46,121,1)), color-stop(100%,rgba(0,91,187,1)));
    background:-webkit-linear-gradient(-45deg,  rgba(31,46,121,1) 0%,rgba(0,91,187,1) 100%);
    background:-o-linear-gradient(-45deg,  rgba(31,46,121,1) 0%,rgba(0,91,187,1) 100%);
    background:-ms-linear-gradient(-45deg,  rgba(31,46,121,1) 0%,rgba(0,91,187,1) 100%);
    background:linear-gradient(135deg,  rgba(31,46,121,1) 0%,rgba(0,91,187,1) 100%);
}

.edf-custom-content-row .key-figures .key-number {
    display:block;
    font-style:normal; font-weight:normal;
    font-size:60px; font-size:3.75rem; line-height:1;
    font-family:'Frutiger LT W01 45 Light', sans-serif;
    text-align:center;
}
.edf-custom-content-row .key-figures .key-unit {
    display:block;
    font-style:normal; font-weight:normal;
    font-size:40px; font-size:2.75rem; line-height:1;
    font-family:'Frutiger LT W01 45 Light', sans-serif;
    text-align:center;
}
.edf-custom-content-row .key-figures .key-definition {
    display:block;
    padding-bottom:50px; padding-bottom:3.125rem;
    font-style:normal; font-weight:normal;
    font-size:20px; font-size:1.25rem;
    font-family:'Frutiger LT W01 45 Light', sans-serif;
    text-align:center; text-transform:uppercase;
}
.edf-custom-content-row .key-figures .key-title {
    padding:50px 32px 0; padding:3.125rem 2rem 0;
    font-size:18px; font-size:1.125rem;
    text-align:center;
}
.edf-custom-content-row .key-figures .key-title:before {
    position:relative; top:-50px; top:-3.125rem;
    display:block;
    margin:0 auto;
    width:85px;
    width:5.3125rem; height:5px;
    background-color:#fe5815;
    content:'';
}

/******************************************************************************\
    push-packshot
\******************************************************************************/
.edf-custom-content-row .push-packshot {
    border:1px solid #d9d9d9;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:contain;
}
.edf-custom-content-row .push-packshot .push-wrapper { display:block; }
.edf-custom-content-row .push-packshot .push-content {
    padding:256px 48px 48px;
    padding:16rem 3rem 3rem;
    color:#509e2f;
    text-align:center;
}
.edf-custom-content-row .push-content span{
    display:none;
}
.edf-custom-content-row .push-packshot .push-title + span { color:#005bbb; }

@media screen and (min-width:48em) {
    .edf-custom-content-row .grid,
    .edf-custom-content-row .row-title + .grid {
        margin-bottom:48px; margin-bottom:3rem;
        /*display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
        align-items:stretch;*/

        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-flex-wrap:wrap;
            -ms-flex-wrap:wrap;
                flex-wrap:wrap;
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
            -ms-flex-pack:justify;
                justify-content:space-between;
        -webkit-box-align:stretch;
        -webkit-align-items:stretch;
            -ms-flex-align:stretch;
                align-items:stretch;
    }

    .edf-custom-content-row .row-title span,
    .edf-custom-content-row .row-title img {
        width:8rem; height:2.133rem;
    }

    .edf-custom-content-row .col-1-3,
    .edf-custom-content-row .col-2-3 {
        width:50%;
        width:calc(50% - .625rem);
    }
    .edf-custom-content-row .col-3-3 { width:100%; }
    .edf-custom-content-row .col-1-3:first-child,
    .edf-custom-content-row .col-2-3:first-child { margin-left:0; }
    .edf-custom-content-row .col-1-3 + .col-1-3 + .push.col-1-3 {
        margin-top:1.25rem; margin-right:0;
        width:100%;
    }

    .edf-custom-content-row .push { margin:1.5rem 0 0; }
    .edf-custom-content-row .push {
        /*display:flex;
        flex-direction:column;
        justify-content: flex-end;*/
        float:left;

        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack:end;
        -webkit-justify-content:flex-end;
            -ms-flex-pack:end;
                justify-content:flex-end;
    }
    .edf-custom-content-row .key-figures {
        /*justify-content: center;*/
        -webkit-box-pack:center;
        -webkit-justify-content:center;
            -ms-flex-pack:center;
                justify-content:center;
    }
    .edf-custom-content-row .push-packshot img {
        margin:0 auto;
        width:50%;
    }
    .edf-custom-content-row .push-color .push-title { font-size:2rem; }
}

@media screen and (min-width:63.75em) {
    .edf-custom-content-row .row-title span,
    .edf-custom-content-row .row-title img {
        width:9.5rem; height:2.533rem;
    }
    .edf-custom-content-row .push { height:30rem; }
    .edf-custom-content-row .col-1-3,
    .edf-custom-content-row .col-2-3 {
        width:50%;
        width:calc(50% - .75rem);
    }
    .edf-custom-content-row .col-1-3:first-child,
    .edf-custom-content-row .col-2-3:first-child { margin-left:0; }
     .edf-custom-content-row .col-1-3 + .col-1-3 + .push.col-1-3 {
        margin-top:1.5rem; margin-right:0;
        width:100%;
    }
    .edf-custom-content-row .col-2-3.push-color .push-title { font-size:2rem; }
    .edf-custom-content-row .col-3-3.push-color .push-title { font-size:3rem; }
    .edf-custom-content-row .col-1-3 + .col-1-3 + .col-1-3 .push-content,
    .edf-custom-content-row .col-3-3 .push-content { margin-left:4.5rem; }
}

@media screen and (min-width:75em) {
    .edf-custom-content-row .row-title span,
    .edf-custom-content-row .row-title img {
        width:9.5rem; height:2.5rem;
    }
    .edf-custom-content-row .push {
        margin:0 !important;
    }
    .edf-custom-content-row .col-1-3,
    .edf-custom-content-row .col-1-3 + .col-1-3 + .push.col-1-3 {
        width:33%;
        width:calc(33% - .75rem);
    }
    .edf-custom-content-row .col-2-3 { width:66%; }

    .edf-custom-content-row .col-2-3 .push-content,
    .edf-custom-content-row .col-3-3 .push-content { width:75%; }
    .edf-custom-content-row .col-2-3.push-packshot .push-content,
    .edf-custom-content-row .col-3-3.push-packshot .push-content { width:auto; }
    .edf-custom-content-row .col-2-3 .push-content { margin-left:4.5rem; }
    .edf-custom-content-row .col-2-3.push-packshot .push-content,
    .edf-custom-content-row .col-3-3.push-packshot .push-content { margin-left: 0; }

    .edf-custom-content-row .col-1-3 + .col-1-3 + .col-1-3 .push-content { margin-left:2.5rem; }
    .edf-custom-content-row .col-1-3 + .col-1-3 + .col-1-3.push-packshot .push-content {margin-left:0}
}

/******************************************************************************\
    ie
\******************************************************************************/
.edf-custom-content-row .ie {
    position:relative;
    margin:0 auto;
    max-width:1200px;
}
.edf-custom-content-row .ie .row-title { padding:0; }
.edf-custom-content-row .ie .row-title span {
    display:block;
    width:190px; height:80px;
    background:url(img/logo.png) no-repeat;
}
.edf-custom-content-row .ie .row-title img { display:none; }
.edf-custom-content-row .ie .grid:before,
.edf-custom-content-row .ie .grid:after {
    display:table;
    content:'';
}
.edf-custom-content-row .ie .grid:after { clear:both; }
.edf-custom-content-row .ie .push {
    float:left;
    margin-right:12px; margin-left:12px;
}
.edf-custom-content-row .ie .push-wrapper,
.edf-custom-content-row .ie .key-figures,
.edf-custom-content-row .ie .push-packshot { height:480px; }

.edf-custom-content-row .ie .push-wrapper {
    display:table-cell;
    vertical-align:bottom;
}

.edf-custom-content-row .ie .col-1-3:first-child,
.edf-custom-content-row .ie .col-2-3:first-child { margin-left:0; }
.edf-custom-content-row .ie .col-1-3:first-child + .col-1-3 + .col-1-3,
.edf-custom-content-row .ie .col-2-3:first-child + .col-1-3,
.edf-custom-content-row .ie .col-1-3:first-child + .col-2-3 { margin-right:0; }

.edf-custom-content-row .ie .col-2-3 { width:66%; }
.edf-custom-content-row .ie .col-1-3 { width:32%; }
.edf-custom-content-row .ie .col-3-3 {
    margin-right:0; margin-left:0;
    width:100%;
}
.edf-custom-content-row .ie .col-2-3 .push-color .push-title,
.edf-custom-content-row .ie .col-3-3 .push-color .push-title { font-size:48px; }

.edf-custom-content-row .ie .key-figures-inner {
    display:table;
    width:100%; height:100%;
}
.edf-custom-content-row .ie .key-figures-inner-inner {
    display:table-cell;
    vertical-align:middle;
    width:100%; height:100%;
}
.edf-custom-content-row .ie .col-2-3.push-color .push-title,
.edf-custom-content-row .ie .col-3-3.push-color .push-title { font-size:48px; }
.edf-custom-content-row .ie .col-2-3 .push-content,
.edf-custom-content-row .ie .col-3-3 .push-content { margin-left:72px; }


iframe.rzr {
    display: none;
}

/***** ANIMATION PERSO *****/
.edf-custom-content-row ul.grid{
    padding-left:0 !important;
}
.edf-custom-content-row .push-packshot .bg-img{
    background-repeat:no-repeat;
    background-position:50%;
    background-size:contain;
}
.edf-custom-content-row .bg-img{
    position:absolute;
    display:block;
    width:100%; height:100%; top:0;
    background-size:cover;  background-repeat:no-repeat;
    -webkit-transition:transform .5s ;
    transition:transform .5s ;
}
.edf-custom-content-row .animateThis .bg-img{
    -webkit-transform:scale(1.07);
    transform:scale(1.07);
}
.edf-custom-content-row .push{
    position:relative;
    overflow:hidden;
}
.edf-custom-content-row .animateThis .push-bg:after{
    opacity:1;
}
.edf-custom-content-row .push-bg:after{
    display:block;
    width:100%; height:100%;
    content:'';    
    opacity:0;
    -webkit-transition:opacity .3s;
    transition:opacity .3s
}

.edf-custom-content-row .push-color-blue .push-bg:after{background: linear-gradient(135deg, rgba(31,46,121,.3) 0%,rgba(0,91,187,.3) 100%);}
.edf-custom-content-row .push-color-orange .push-bg:after{background: linear-gradient(135deg, rgba(254,88,21,.3) 0%,rgba(255,160,47,.3) 100%);}
.edf-custom-content-row .push-color-green .push-bg:after{background: linear-gradient(to right, rgba(80,158,47,.3) 0%,rgba(196,214,0,.3) 100%);}

/*
.edf-custom-content-row .push-content{
    -webkit-transition:transform .3s;
    transition:transform .3s;
    -webkit-transform:translateX(0);    
    transform:translateX(0);    
}

.edf-custom-content-row .animateThis .push-content{
    -webkit-transform:translateX(.3125rem);
    transform:translateX(.3125rem);
}
*/